################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/raytrace/v16
/src/Debug/raytrace.tlog
/src/Debug
/src/Release
/src/testscene8.hdr
/src/testscene64.hdr
/src/testscene512.hdr
/src/testscene128.hdr
/src/testscene1024.hdr
/src/testscene1.hdr
/src/testscene1.hdr
